#container {
	-fx-background-color: #1A1C53;
	-fx-padding: 5px;
}

#date {
	-fx-text-fill: #FFF;
	-fx-padding: 10px;
}

#dateRate .track {
    -fx-background-color:#FF8109;
    -fx-border-color: #FFF;
    -fx-border-radius: 20px;
}

#dateRate .thumb {
    -fx-background-color:#FF8109;
    -fx-border-color: #FFF;
    -fx-border-radius: 20px;
}

#dateRate:hover {
	-fx-cursor: hand;
}

#dateRate .axis {
    -fx-tick-label-fill: #FFF;
    -fx-tick-label-font-weight: bold;
}

#tsp {
    -fx-text-fill: white;
    -fx-background-color:#FF8109;
	-fx-font-family:'Helvetica Neue', sans-serif;
    -fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-border-radius: 20px;
}

#tsp:hover {
    -fx-background-color:#DD7213;
    -fx-cursor: hand;
}